﻿@model Resendiz_Willy_HW3.Models.SearchViewModel

@{
    ViewData["Title"] = "DetailedSearch";
}

<h1>Detailed Search</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplaySearchResults" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()"
                        class="form-control">
                <option selected="selected" value=''>All Categories</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageID" class="control-label"></label>
                @Html.DropDownListFor(Model => Model.LanguageID, (SelectList)ViewBag.allLanguages
                , new {@class = "form-control"})
                <span asp-validation-for="LanguageID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarCount" class="control-label"></label>
                <input type = "number" step = "0.1" class = "form-control" asp-for="StarCount" />
                <span asp-validation-for="StarCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compare" class="control-label"></label>
                <label>
                <input type="radio" class="radio" asp-for="Compare" checked = "checked" value="@Comparison.GreaterThan" />
                Greater Than
                </label>
                <label>
                <input type="radio" class="radio" asp-for="Compare" value="@Comparison.LessThan" /> 
                Less Than
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAfter" class="control-label"></label>
                <input asp-for="UpdatedAfter" class="form-control" />
                <span asp-validation-for="UpdatedAfter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

